<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	 http://www.springframework.org/schema/beans/spring-beans.xsd   
	http://www.springframework.org/schema/tx 
                     http://www.springframework.org/schema/tx/spring-tx.xsd 
                     http://www.springframework.org/schema/aop 
                     http://www.springframework.org/schema/aop/spring-aop.xsd 
                     http://www.springframework.org/schema/context 
                     http://www.springframework.org/schema/context/spring-context-3.0.xsd ">
	<!-- 有了这个Spring就能够自动扫描被@Aspect标注的切面了 -->
	<context:component-scan base-package="liaody" />
	<!-- 使用cglib代理 ,不能使用属性proxy-target-class="true"，否则会强制使用cglib代理，Spring'注解会失败-->
	<aop:aspectj-autoproxy  />	
	<!-- 编程式事务需要以下一行注解 -->
	<context:annotation-config />	
	<!-- 加载配置属性文件 -->
    <context:property-placeholder ignore-unresolvable="true" location="classpath*:db.properties" />
	<!-- 配置dataSource -->
	<bean	id="dataSource" 	class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName">
			<value>${driverClassName}</value>
		</property>
		<property name="username">
			<value>${username}</value>
		</property>
		<property name="password">
			<value>${password}</value>
		</property>
		<property name="url">
			<value>${url}</value>
		</property>
	</bean>
	<!-- 配置SqlSessionFactoryBean -->
	<bean
		id="sqlSessionFactory"
		class="org.mybatis.spring.SqlSessionFactoryBean"	>
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<!-- 存放mybatis的设置 -->
		<property
			name="configLocation"
			value="classpath:mybatis.xml" />
	</bean>
	<!-- SqlMapper接口的接口，只需要一个Bean即可 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property
			name="basePackage"
			value="liaody.mybatis" />
		<!-- 凡是该接口的子接口都参与到这个扫描，所有的Mapper接口扩展这个交口 -->
		<property
			name="markerInterface"
			value="liaody.mybatis.mapper.SqlMapper" />
	</bean>
</beans>